
.prod-wrapper {
  display: flex;
  min-height: 600px;
  /* border: 1px solid blue; */
  
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}
.prod-image-wrapper {
  /* padding-right: 2%; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  /* border: 1px solid red; */
  flex-direction: column;
  gap: 4%;
  
}
.product-image-full {
  width: 81%;
  min-width: 260px
}
.prod-thumbs {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: 81%;
  min-width: 265px;
  /* border: 1px solid */
}

.prod-desc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* border: 1px solid blue; */
  height: 97%;
  /* min-width: 270px; */
  /* padding: 3%; */
  /* gap: 10px */
}
.prod-desc-wrapper-inner {
  /* padding-left:2%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:78%; 
  gap: 3.4%;
  /* border: 1px solid; */
  height: 100%
}
.sneaker-comp {
  color: var(--dark-grey-blue);
  font-size: 0.68rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.prod-title {
  color: var(--text-black);
  font-size: 2.4rem; 
  font-weight:700;
  line-height: 1.1;
}
.prod-desc-para{
  /* padding-top: 3%; */
  font-size: 13px;
  color: var(--text-grey);
  font-weight: 500;
  line-height: 1.7
}
.price-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.price-area-1 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 14px;
  /* width: 30%; */
}
.price {
  font-size: 1.6rem;
  font-weight: 700;
}
.saving-percent {
  background: var(--bg-black);
  color: var(--text-white);
  padding: 2px 6px;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 4px
}
.fake-price {
  color: var(--text-grey);
  font-weight: 700;
  font-size: 0.9rem
}

.order-area {
  display: flex;
  width: 101%;
  /* border: 1px solid; */
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 45px
}
.item-count-area {
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  border-radius: 7px;
  background: hsl(223, 64%, 98%)
}
.item-add, .item-count, .item-deduct {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: var(--text-black)
 }
 .item-add:hover, .item-deduct:hover, .item-add:active, .item-deduct:active {
   /* background: var(--pale-orange); */
   /* border-radius: 5px; */
   /* transition: all 0.2s ease */
 }
.item-add:hover * , .item-deduct:hover * {
  opacity: .7;
  transition: opacity .3s ease-out
}

.add-to-cart-button {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  font-weight: 800;
  font-family: Kumbh Sans;
  background: var(--orange);
  border-radius: 7px;
  color: var(--text-black)
}
.add-to-cart-button:hover {
  /* background: #ff7d1ac0; */
  background: #ffac6a;
  transition: background .3s ease-out;
}
.cart-button-icon {
  height: 35%;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%)
}
.item-count-area, .add-to-cart-button {
}
.not-lb-left, .not-lb-right {
  position: absolute;
  top: 25%;
  scale: 0.6;
}
.not-lb-left {
  left: 0%
}
.not-lb-right {
  right: 0%
}


/* for desktop */
@media(min-width: 700px) {
  .prod-wrapper {
    height: 85%
  }
  .product-image-full{
    border-radius: 13px
  }
  .thumb {
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden
  }
  .thumb-img {
    height: 100%;
    width: 100%
  }
  .thumb:hover {
    outline: 2px solid var(--orange);
    /* opacity: .5 */
  }
  .thumb:hover .thumb-img {
    opacity: 0.3
  }
   .prod-desc-wrapper {
    container-type: inline-size;
    /* width: 100% */
  }
  .not-lb-left, .not-lb-right {
    display: none;
  }
  @container (max-width: 379px){
    /* .prod-desc-wrapper-inner { */
    /*   width: 95%; */
    /* } */
    .order-area {
      flex-direction: column;
      width: 100%;
      gap: 12px;
      /* border: 1px solid; */
      height: 120px;
    }
    .item-count-area, .add-to-cart-button {
      flex: 1;
      /* border: 2px dotted; */
      /* height: 45px; */
      width: 100%;
      /* font-size: 1.1rem */
    }
  }
}

/* for mobile */
@media (max-width: 699px) {
  .prod-thumbs {
    display: none;
  }
  .product-image-full {
    width: clamp(300px,100%,450px);
    object-fit: cover;
    object-position: center;
    /* display: flex; */
    aspect-ratio: 8/6.1  /* for FEmentors' sake; i dont find this look-good */
  }
  .prod-desc-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .prod-desc-wrapper-inner {
    width: 87%
  }
  .prod-wrapper {
    flex-direction: column;
  }
  .prod-image-wrapper {
    width: 100%;
  }
  .price-area {
    flex-direction: row;
    align-items: center;
  }
  .order-area {
    flex-direction: column;
    width: 100%;
    gap: 12px;
    /* border: 1px solid; */
    height: 120px;
  }
  .item-count-area, .add-to-cart-button {
    flex: 1;
    /* border: 2px dotted; */
    /* height: 45px; */
    width: 100%;
    font-size: 1.1rem
  }
  .add-to-cart-button {

  }
  .sneaker-comp {
    margin-top: 5%
  }
}

/* trans..ition */
@media (min-width: 451px) and (max-width: 699px) {
  .product-image-full {
    border-radius: 0px 0px 20px 20px;
  }
  .prod-wrapper {
    align-items: center;
  }
  .prod-desc-wrapper {
    width: 100%;
    aspect-ratio: 1/0.65
  }
  .prod-desc-wrapper-inner {
    width: 80%
  }
  .order-area {
    flex-direction: row;
    /* width: 100%; */
    /* border: 1px solid; */
    height: 45px;
  }
}
