

.lightbox-wrapper {
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000088;
  backdrop-filter: blur(3px);
}
.lightbox-inbox {
  /* border: 1px solid; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 81%;
  width: 38%;
  min-width: 451px;
}
.lb-product-image-full {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 13px
}
.lb-product-image-full-wrapper {
  margin-top: 3%;
  margin-bottom: 7%;
  aspect-ratio: 1/1;
}
.lb-prod-thumbs {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  width: 81%;
  height: 12.5%


  
  /* gap: 5% */
}
.lb-thumb {
  /* height: 100%; */
  aspect-ratio: 1/1;
}
.lb-thumb img {
  border-radius: 10px;
}


.lb-close-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px dotted; */
  width: 100%;
  height: 3%
}
.lb-close-button {
  display: flex;
  aspect-ratio: 1/1;
  height: 100%


}
.lb-close-icon {
  filter: grayscale(0) saturate(11) sepia(.4) hue-rotate(130deg) brightness(1.2);
  aspect-ratio: 1/1;
  height: 100%;
}
.prev-img-button, .next-img-button {
  position: absolute;
  top: 44%;
  padding-top: 3px;
  height: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--text-white)
}
.prev-img-button *, .next-img-button * {
  height: 36%;
  filter: opacity(80%);
}
.prev-img-button:hover *, .next-img-button:hover * {
  filter: invert(50%) sepia(70%) saturate(400%) hue-rotate(310deg)
}
.prev-img-button {
  left: -5%;
}
.next-img-button {
  right: -5%;
  /* rotate: 180deg; */
}
