

.cart-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid */
}
.cart-title {
  display: flex;
  justify-content: flex-start; 
  align-items : center;
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #eeeeee;
  font-weight: 700;
  /* font-family: Kumbh Sans */
  /* border: 1px solid */
}
.cart-title-text {
  margin: 0 0 3% 5.5%;
}
.cart-items-area{
  display: flex;
  flex-direction: column;
  width: 88%;
  /* border: 1px solid; */
  margin: 20px
}
.cart-item {
  display: flex;
  justify-content: space-between;
  /* border: 1px dashed red; */
  width: 100%;
  aspect-ratio: 6.5/1;
}
.cart-item-thumb {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 4px
}
.cart-item-detail-area {
  display: flex;
  flex-direction: column;
  color: var(--text-grey);
  font-weight: 500;
  font-size: 14px ;
}
.cart-item-name {
  flex: 1;

}
.tot-price {
  color: #000;
  font-weight: 800
}
.trash-can-icon {
  height: 32%;
}
.delete-cart-item:hover .trash-can-icon {
  filter: grayscale(0) brightness(0.5) sepia(1) saturate(60) hue-rotate(0deg)
}
.checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  width: 88%;
  margin: 5px;
  aspect-ratio: 5.6/1;
  background: var(--orange);
  border-radius: 10px;
  font-weight: 800;
  font-family: Kumbh Sans;
  font-size: 1rem
}
.checkout-button:hover {
  /* background: #ff7d1ac0; */
  background: #ffac6a;
  transition: background .3s ease-out;
}


@media (max-width: 699px) {
  .cart-title {
    margin-top: 10px;
    font-weight: 800;
    font-size: 17px;
  }
  .cart-item {
    height:55px;
  }
  .cart-item * {
    font-size: 17px;
  } 
  .cart-item-detail-area {
    padding: 1% 0 1% 0
  }
}
